.navbar {
    background-color: rgb(245, 71, 193) !important;
    display: flex;
    justify-content: center;
}

.navbar-brand {
    font-size: 1.8vw;
    font-weight: bold;
}

.about {
    display: flex;
    justify-content: center;
    margin-top: 3vw;
    text-decoration: underline 4px grey;
    font-weight: bold;
}

.blue {
    color: #47dbf5;
}