<div class="row">
    <div class="col-lg-7 col-md-7">
        <div class="quote-container" *ngFor="let quote of quotes; let i = index">
            <div *ngIf="
          quote.votes == highest && quote.votes > 0;
          then highlight;
          else empty
        "></div>
            <ng-template #highlight>
                <div appHighlight class="msg shadow">
                    <p>{{ quote.message }} ~ {{ quote.authorName }}</p>

                    <button (click)="toggleDetails(i)" class="btn btn-primary">
            More Details
          </button>
                </div>
            </ng-template>
            <ng-template #empty>
                <div class="msg shadow">
                    <p>{{ quote.message }} ~ {{ quote.authorName }}</p>

                    <button (click)="toggleDetails(i)" class="btn btn-primary">
            More Details
          </button>
                </div>
            </ng-template>

            <div *ngIf="quote.showName">
                <app-quote-details [quote]="quote" (isComplete)="deleteQuote($event, i)">
                </app-quote-details>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-5">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
    <p *ngIf="quotes.length > 2">You have too many goals</p>
</div>