/* .quote-container {
    width: 70%;
    margin: 0 auto;
    border: 1px solid;

} */

.msg {
    /* height: 7vw; */
    margin-top: 3vw;
    padding: 1vw;
}

.q-name,
.q-date {
    color: var(--secondary);
}

.btnsVote .upvote {
    background: transparent;
    border: #f547c1 solid 1px;
    color: #f547c1;
    margin-right: 4vw;
}

.btnsVote .downvote {
    background: transparent;
    border: #47dbf5 solid 1px;
    color: #47dbf5;
}

.more {
    background-color: #f547c1;
    color: #47dbf5;
    border: none;
    margin-top: 2vw;
}