<div class="row">
    <div class="col-lg-7 col-md-7">
        <div class="container-fluid quote-container">
            <div *ngFor="let quote of quotes">
                <div class="msg shadow">
                    <p>
                        {{ quote.message }}
                    </p>
                    <p class="q-name text-center">{{ quote.name }}</p>
                    <p class="q-date text-center">
                        {{ quote.postDate | date: "shortDate" }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>