body {
    overflow-x: none !important;
}

.quote-container {
    width: 80%;
    margin-left: 10vw !important;
    justify-content: center;
}

.colQuotes {}

.msg {
    margin-top: 3vw;
    padding: 1vw;
    align-items: center;
}

.q-name,
.q-date {
    color: var(--secondary);
}

.btnsVote .upvote {
    background: transparent;
    border: #f547c1 solid 1px;
    color: #f547c1;
    margin-right: 4vw;
}

.btnsVote .downvote {
    background: transparent;
    border: #47dbf5 solid 1px;
    color: #47dbf5;
}

.more {
    background-color: transparent;
    color: #000;
    border: solid 1px;
    margin-top: 2vw;
}