<div class="container-fluid">
    <form (ngSubmit)="submitQuote()" #quoteForm="ngForm">
        <div class="form-group">
            <label for="">User Name</label>
            <input required type="text" name="name" id="name" class="form-control" [(ngModel)]="newQuote.name" #name="ngModel" placeholder="Your username" />
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                Fill in your name
            </div>
        </div>
        <div class="form-group">
            <label for="">Author Name</label>
            <input required type="text" name="authorName" class="form-control" id="authorName" placeholder="Quote's author" [(ngModel)]="newQuote.authorName" #authorName="ngModel" />
            <div [hidden]="authorName.valid || authorName.pristine" class="alert alert-danger">
                Author Name must be filled
            </div>
        </div>
        <div class="form-group">
            <label for="">Quote</label>
            <textarea required name="message" cols="30" rows="10" [(ngModel)]="newQuote.message" #message="ngModel" id="message"></textarea>
            <div [hidden]="message.valid || message.pristine" class="alert alert-danger">
                Fill in the quote
            </div>
        </div>
        <div (click)="submitQuote()" class="btn btn-success">POST</div>
    </form>
</div>
